# Create Your Table Structure

In [ ]:
#install connector api using the command below.
!pip install mysql-connector-python

# Import the MySQL Connector/Python
import mysql.connector as connector

In [ ]:
#!pip show mysql-connector-python
# Establish connection between Python and MySQL database via connector API
connection=connector.connect(
                             user="root", # use your own
                             password="", # use your own
                            )

Once the connection is established and you have a cursor object, 
you can carry out the required tasks.

In [ ]:
# Create a cursor object to communicate with entire MySQL database
cursor = connection.cursor()

## Scenario 

Little Lemon needs a Python-based application in which they can organize their data within different tables in a MySQL database.  

First, they need to create their database. Then they need to create the database’s tables.  

The list of tables they need to create are as follows: 

* A table called Menu that stores menu data 
* A table called MenuItems that stores data on menu items 
* A table called Orders that stores data on customer orders 
* And a table called Bookings that stores data on customer bookings 

Complete the tasks that follow to help Little Lemon create the database and the tables.

## Task 1:
Little Lemon need to create a database that can hold their tables. Create a MySQL database for Little Lemon using Python. You can call the database “little_lemon”. 
You also need to confirm that the database has been successfully created by executing the `“SHOW DATABASE”` query. 

**Tip:** If a database with the same name already exists, then you’ll receive an error confirming its existence. Otherwise, your code will be executed with no output.

In [ ]:
# Add your code here
# If exist, drop the database first
cursor.execute("drop database little_lemon")

# Create database and checking all that we have!

cursor.execute("CREATE DATABASE little_lemon")
cursor.execute("SHOW DATABASES")
for database in cursor:
    print(database)

## Task 2:
Set the newly created database `“little_lemon”` for use. Confirm that the database is available for use by using `connection.database`. 

**Tip:** If the `“little_lemon”` database already exists, then the code in your jupyter notebook cell should execute without any error.

In [ ]:
# Add your code here
# Set little_lemon database for use
cursor.execute("USE little_lemon")

# Confirm the database in use
connection.database

In [ ]:
cursor.execute("SHOW DATABASES")
for database in cursor:
    print(database)

## Creating tables

## Task 3:

Create a `“MenuItems”` table using the following SQL query as a Python string:
```Python
create_menuitem_table = """CREATE TABLE MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""
```
Once you have executed the query, use the `“SHOW TABLES”` command to confirm that the table has been created.

**Tip:** The code will run in the jupyter notebook with no error if your SQL query is correct, and the table does not exist.

In [ ]:
# Add your code here
# The SQL query for MenuItems table is:
create_menuitem_table = """
CREATE TABLE MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""

# Create MenuItems table
cursor.execute(create_menuitem_table)

# Confirm if the table is created
cursor.execute("SHOW TABLES")
for table in cursor:
    print(table)

## Task 4: 

Create the `“Menus”` table to store data on menus using the following SQL query as a Python string.
```Python
create_menu_table = """CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);"""
```
Once you have executed the query, use the `SHOW TABLES` command to confirm that the table has been created. 

**Tip:** The code will run in the jupyter notebook with no error if your SQL query is correct, and the table does not exist.

In [ ]:
# Add your code here
# The SQL query for Menu table is:
create_menu_table = """
CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);"""

# Create Menu table
cursor.execute(create_menu_table)

# Confirm if the table is created
cursor.execute("SHOW TABLES")
for table in cursor:
    print(table)

## Task 5: 

Create the “Bookings” table to store data on customer bookings using the following SQL query as a Python string:

```Python
Create_booking_table = """CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""
```
Once you have executed the query, use the `“SHOW TABLES”` command to confirm that the table has been created.

**Tip:** The code will run in the jupyter notebook with no error if your SQL query is correct, and the table does not exist.

In [ ]:
# Add your code here
# The SQL query for Bookings table is:
create_booking_table = """
CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""

# Create Bookings table
cursor.execute(create_booking_table)

# Confirm if the table is created
cursor.execute("SHOW TABLES")
for table in cursor:
    print(table)

## Task 6: 

Create an “Orders” table to store data on customer orders using the following SQL query as a Python string:
```Python
create_orders_table = """CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""
```

Once you have executed the code, use the SHOW TABLES command to confirm that the table has been created. 

**Tip:** The code will run in the jupyter notebook with no error if your sql query is correct, and the table does not exist

In [ ]:
# Add your code here
# The SQL query for Bookings table is:
create_orders_table = """
CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""

# Create Orders table
cursor.execute(create_orders_table)

# Confirm if the table is created
cursor.execute("SHOW TABLES")
for table in cursor:
    print(table)

In [ ]:
# Let's close the cursor and the connection
if connection.is_connected():
    cursor.close()
    print("The cursor is closed.")
    connection.close()
    print("MySQL connection is closed.")
else:
    print("Connection is already closed")