In [1]:
import mysql.connector as connector

In [2]:
connection = connector.connect(user="mario", password="cuisine")

In [3]:
cursor=connection.cursor()

In [4]:
cursor.execute("USE little_lemon")

In [5]:
my_sql_insert_query="""
INSERT INTO bookings
(GuestFirstName, GuestLastName, TableNo, BookingSlot, EmployeeID)
VALUES
('Marcos','Romero','2','19:00',5)
"""

In [6]:
cursor.execute(my_sql_insert_query)

In [7]:
connection.commit()

In [8]:
read_data_query="""SELECT * FROM bookings"""

In [9]:
cursor.execute(read_data_query)

In [10]:
result=cursor.fetchall()

In [11]:
print(result)

[(1, 12, 'Anna', 'Iversen', datetime.timedelta(seconds=68400), 1), (2, 12, 'Joakim', 'Iversen', datetime.timedelta(seconds=68400), 1), (3, 19, 'Vanessa', 'McCarthy', datetime.timedelta(seconds=54000), 3), (4, 15, 'Marcos', 'Romero', datetime.timedelta(seconds=63000), 4), (5, 5, 'Hiroki', 'Yamane', datetime.timedelta(seconds=66600), 2), (6, 8, 'Diana', 'Pinto', datetime.timedelta(seconds=72000), 5), (7, 2, 'Marcos', 'Romero', datetime.timedelta(seconds=68400), 5)]

In [12]:
columns=cursor.column_names