## Creating and reading records

## Prerequisites  

To complete this exercise, you must have access to the `“little_lemon”` database. As an authorized user, you need to establish a connection between Python and the database via the connector API and create a `“cursor”` object using the following code:

In [ ]:
import mysql.connector as connector

In [ ]:
# Establish connection between Python and MySQL database via connector API
connection=connector.connect(
                             user="root", # use your own
                             password="", # use your own
                            )

In [ ]:
# Create cursor object to communicate with entire MySQL database
cursor = connection.cursor()

Once, the connection is established, and you have a cursor object, you can select the database `“little_lemon”` and print the names of the tables using the following code:

In [ ]:
# Setting little_lemon for use 
cursor.execute("use little_lemon")

# Confirming
print("Database is use is:", connection.database)
print()
print("The existing tables in the little_lemon database are:")
cursor.execute("SHOW TABLES") 
# Print table names 
for table in cursor: 
    print(table)

## Scenario 

Little Lemon restaurant has created a database and designed tables to keep records of key data. The list of tables that they’ve created are as follows: 

* A table called `Menu` that stores menu data, 
* A table called `MenuItems` that stores data on menu items, 
* A table called `Orders` that stores data on customer orders, 
* And a table called `Bookings` that stores data on customer bookings. 

They now need to populate these tables with relevant data. They also need to read the data once the records have been inserted into the database.  

Help Little Lemon create and read data in their MySQL database using Python.

## Task 1:

Insert data in all four tables in the `"little_lemon"` database using Python. Use the following `"INSERT"` queries to populate the tables with relevant data. 

Use the `"SELECT"` command to check the output and ensure that each `"INSERT"` query has been executed successfully.

**SQL queries to insert data in the tables**

In [ ]:
# Add your code here
#*******************************************************#
# Insert query to populate "MenuItems" table is:
#*******************************************************#
insert_menuitmes="""
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1,'Olives','Starters',5),
(2,'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10,'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""

#*******************************************************#
# Insert query to populate "Menu" table is:
#*******************************************************#
insert_menu="""
INSERT INTO Menus (MenuID,ItemID,Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

#*******************************************************#
# Insert query to populate "Bookings" table is:
#*******************************************************#
insert_bookings="""
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1,12,'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

#*******************************************************#
# Insert query to populate "Orders" table is:
#*******************************************************#
insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

**Populating tables using python**

In [ ]:
print("Inserting data in MenuItems table.")
# Populate MenuItems table
cursor.execute(insert_menuitmes)
print("Total number of rows in MenuItem table: ", cursor.rowcount)
# Once the query is executed, you commit the change into the database 
connection.commit()

print("Inserting data in Menus table.")
# Populate MenuItems table
cursor.execute(insert_menu)
print("Total number of rows in Menu table: ", cursor.rowcount)
connection.commit()

print("Inserting data in Bookings table.")
# Populate Bookings table
cursor.execute(insert_bookings)
print("Total number of rows in Bookings table: ", cursor.rowcount)
connection.commit()

print("Inserting data in Orders table.")
# Populate Orders table
cursor.execute(insert_orders)
print("Total number of rows in Orders table: ", cursor.rowcount)
connection.commit()

## Task 2:

In the first task, you created records in the empty tables. Now the restaurant requires the following data for each guest: 

* Guest first and last names  
* The table number assigned to each guest.  

You can help Little Lemon to read this data from the “Bookings” table using Python. 

The SELECT query you need to complete this task is as follows:  

```Python
all_bookings = """SELECT GuestFirstName, GuestLastName, TableNo FROM Bookings;""" 
```

**Tip:** Only read the required columns from the “Bookings” table. Use the  “column_names” attribute from the “cursor” to extract the names of the column and print them using Python’s “print” statement before printing the records. Use for loop to iterate over the “results” that you fetch using the “cursor”.

In [ ]:
# Add your code here
import mysql.connector

# Establish a connection to the database
connection = mysql.connector.connect(
    host='localhost',
    user='root',
    password='',
    database='little_lemon'
)
# Create a cursor object to interact with the database
cursor = connection.cursor()

# Read query is:
all_bookings = """SELECT GuestFirstName, GuestLastName, 
TableNo FROM Bookings;"""

try:
# Eexecute query 
 cursor.execute(all_bookings)

# Fetch all results that satisfy the query 
 results = cursor.fetchall()

# Retrieve column names
 cols = [desc[0] for desc in cursor.description]

# Retrieve column names
 cols = cursor.column_names

# Print column names and records from results using for loop
 print("""Data in the "Bookings" table:""")
 print(cols)
 for result in results:
    print(result)

except mysql.connector.Error as err:
    # Handle any errors that occur
 print(f"Error: {err}")

## Task 3:

For the next task, you need to read all the records in the `“Menu”` table and retrieve only the first three from the `“cursor”`. Your read query is the following: 

```Python
all_menus = """SELECT * FROM Menus;""" 
```

**Tip:** Explore the functions that you can invoke on the cursor. It is always a good idea to store the query output in a python variable (e.g., “results”) for later use, and you can print them using for loop in python.  

**Option 1:**

In [ ]:
# Add your code here
# Query to retrieve all bookings is:
all_menus = """SELECT * FROM Menus;"""

# Execute query
cursor.execute(all_menus)

# Fetch fist 3 records in results
results = cursor.fetchmany(size=3)

# Retrieve column names
cols = cursor.column_names

# Print column names and records from results using for loop
print("""Data in the "Menu" table:""")
print(cols)
for result in results:
    print(result)

After grabbing first three records, the cursor will be at the fourth record and we can call `fetchall()` to grab them.

In [ ]:
# Add your code here
# Remaining records after fetching the first three
results = cursor.fetchall()
for result in results:
    print(result)

**Options 2:**

This task can also be accomplished by setting `LIMIT 3` in the `SQL` query.

In [ ]:
# Query to retrieve only first three records from the bookings table is:
all_menus = """SELECT * FROM Menus LIMIT 3;"""

# Execute query
cursor.execute(all_menus)

# Fetch fist 3 records in results
results = cursor.fetchall()

# Retrieve column names
cols = cursor.column_names

# Print column names and records from results using for loop
print("""Data in the "Menu" table:""")
print(cols)
for result in results:
    print(result)

In [ ]:
# Let's close the cursor and the connection
if connection.is_connected():
    cursor.close()
    print("The cursor is closed.")
    connection.close()
    print("MySQL connection is closed.")
else:
    print("Connection is already closed")