In [1]:
import mysql.connector as connector

In [2]:
connection = connector.connect(user="mario", password="cuisine")

In [3]:
cursor = connection.cursor()

In [4]:
cursor.execute("USE little_lemon")

In [5]:
from mysql.connector.pooling import MySQLConnectionPool

In [6]:
pool=MySQLConnectionPool(pool_name="little_lemon_pool",
                        pool_size=4,
                        host='localhost',
                        database='little_lemon',
                        user='mario',
                        password='cuisine')

In [7]:
users=['mary','john','micheal','tony']

In [8]:
select_stmt="SELECT * FROM bookings WHERE BookingID=%(booking_id)s"

In [9]:
for i in range(pool.pool_size):
    conn=pool.get_connection()
    if conn.is_connected:
        cursor=conn.cursor()
        print("The connection id for {} {} is reqesting info on booking {}"
             .format(users[i],conn.connection_id,i+1))
        cursor.execute(select_stmt, {'booking_id':i+1})
        print(cursor.fetchall())
    else:
        print("no live connection made")
    conn.close()

The connection id for mary 70 is reqesting info on booking 1
[(1, 12, 'Anna', 'Iversen', datetime.timedelta(seconds=68400), 1)]
The connection id for john 71 is reqesting info on booking 2
[(2, 12, 'Joakim', 'Iversen', datetime.timedelta(seconds=68400), 1)]
The connection id for micheal 72 is reqesting info on booking 3
[(3, 19, 'Vanessa', 'McCarthy', datetime.timedelta(seconds=54000), 3)]
The connection id for tony 73 is reqesting info on booking 4
[(4, 15, 'Marcos', 'Romero', datetime.timedelta(seconds=63000), 4)]