## Date and time using Python

## Prerequisites: 

To complete this lab, you must have access to the `little_lemon` database. As an authorized user, you need to establish a connection between Python and the database via the MySQL Connector/Python API and create a `cursor` object using the following code:

In [ ]:
import mysql.connector as connector

In [ ]:
# Establish connection between Python and MySQL database via MySQL Connector/Python API
connection=connector.connect(
                             user="root",
                             password="",
                            )

In [ ]:
# Create cursor object to communicate with entire MySQL database
cursor = connection.cursor()

Once the connection is established and you have a cursor object, you can select the database `little_lemon` using the code below and work with the respective table to complete the required tasks.

In [ ]:
# Set the little_lemon database for use 
cursor.execute("use little_lemon")

# Confirm the datbase in use
connection.database

## Scenario: 

Little Lemon needs to schedule its staff’s duties according to the restaurant’s peak hours. They also want to display the guest’s name and their expected arrival time kitchen screen to keep the staff informed. These and several other similar tasks, such as changing the booking time, require working with the date and time column.  

You are tasked to help Little Lemon work with the date and time columns using Python for their Python-based application.

## Task 1

Little Lemon wants to retrieve the number of bookings in each hour so that they can schedule the staff duties accordingly. Use the following steps as a guide to complete this task:  

* Target the “BookingID” and “BookingSlot” columns from the “Bookings” table.  
* Extract the hour from the “BookingSlot” column and count the bookings in each hour. 
* Group and order the data by hour.  

**TIP:** Use MySQL `HOUR`, `COUNT`, `GROUP BY` and `ORDER BY` to accomplish the task.

In [ ]:
# Read query 
#all_bookings = """SELECT GuestFirstName, GuestLastName, 
#TableNo FROM bookings;"""


# The SQL query is:
sql_query = """SELECT 
COUNT(BookingID) AS n_bookings,
HOUR(BookingSlot) AS Hour 
FROM Bookings
GROUP BY Hour
ORDER BY Hour ASC;"""

# Execute the query 
cursor.execute(sql_query)

# Fetch all results that satisfy the query 
results = cursor.fetchall()

# Print records in the required format using for loop
print("""Upcoming Bookings:\n""")
#print(cols)
for result in results:
    print("Hour: ",result[1],"<<>>", result[0], "Booking/s")

## Task 2

Little Lemon needs to display the following information in the staff’s room: 

* Table number 
* Guest’s full name 
* Arrival time in hours and minutes (e.g., 15 hours and 0 mins) 

Help Little Lemon to retrieve and display the required information. Use the following steps as a guide to complete this task: 

* Target `TableNo`, `GuestFirstName`, `GuestLastName` and `BookingSlot` columns in the `Bookings` table.  
* Order the data by `BookingSlot`.  
* Use Python’s `datetime` module to extract hours and minutes using the `strptime` function when printing the record.

In [ ]:
import datetime as dt

# The SQL query is: 
sql_query = """SELECT 
TableNo, 
GuestFirstName, 
GuestLastName, 
BookingSlot 
FROM Bookings 
ORDER BY BookingSlot;"""

# Execute query 
cursor.execute(sql_query)

# Fetch all results that satisfy the query 
results = cursor.fetchall()

# Print records in the required format
print("The guests and their booking slots are:\n")
for result in results: 
    time = str(result[3])
    hour = dt.datetime.strptime(time,'%H:%M:%S').hour
    minute = dt.datetime.strptime(time,'%H:%M:%S').minute
    print("[Table no:]",result[0],">>",result[1],result[2], "is expected to arrive at:", 
          hour,"hrs and", minute, "mins")

## Task 3

A guest with booking ID 2 and table number 12 wants to change the arrival time by one hour. Help Little Lemon to make this change using Python in their application. Use the following steps as a guide to complete this task: 

* Target `BookingID`, `TableNo` and `BookingSlot` columns in the `Bookings` table.  
* Add one hour in the “BookingSlot”.  
* Use the `WHERE` clause on `TableNo` and `BookingID` columns.

In [ ]:
#SELECT *, ADDTIME(ScheduledlArrivalTime, "00:10:00") 
#AS ExpectedArrivalTime FROM ScheduleDetails;

In [ ]:

"""UPDATE Bookings 
SET BookingSlot=ADDTIME(BookingSlot,"1:00:00") 
WHERE BookingID=2;"""

# The SQL query is: 
sql_query = """SELECT 
BookingID, 
TableNo, 
BookingSlot, 
ADDTIME(BookingSlot,"1:00:00") as NewTime 
FROM Bookings
WHERE TableNo = 12 AND BookingID = 2;"""

# Execute query 
cursor.execute(sql_query)

# Fetch all results that satisfy the query 
results = cursor.fetchall()

# Print time change alert.
print("Booking time change ALERT!!")
for result in results:  
    print("Booking ID:",result[0])
    print("Table number:",result[1])
    print("Booked slot:",result[2])
    print("New arrival time:",result[3])

In [ ]:
# Let's close the cursor and the connection
if connection.is_connected():
    cursor.close()
    print("The cursor is closed.")
    connection.close()
    print("MySQL connection is closed.")
else:
    print("Connection is already closed")